* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: #F6FDFF;
}

.wrapper {
    width: 1400px;
    margin: auto;
}

.box-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.box-logo>span {
    color: #0E0F13;
    font-size: 28px;
    font-weight: 500;
}

.logo {
    width: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;   
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 55px;
}

.list-items {
    font-size: 20px;
    font-weight: 400;
}

.list-items>a {
    text-decoration: none;
    color: #0E0F13;
}

.list-items>a.active {
    color: #425DF8;
}



.sign-button {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.Sign-in {
    padding: 18px 22px;
    border: 1px solid black;
    border-radius: 5px;
    color: #0E0F13;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.Sign-up {
    padding: 18px 22px;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    color: #F6FDFF;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.main-container {
    display: flex;
    justify-content: center;
    padding-top: 155PX;
    /* text-align: center;      */
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}


.main-title {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 120px;
    align-items: center;
}

.main-title>h1 {
    color: #0E0F13;
    font-size: 64px;
    font-weight: 500;
}

.main-title>span {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
}

.main-cards {
    display: flex;
    /* justify-content: center; */
    gap: 24px;
    width: 1400px;
}

.main-card-container {
    display: flex;
    gap: 25px;
    width: 415px;
    padding: 56px;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: #FDFDFD;
}

.main-card-container>span {
    text-align: center;
}

.main-card-container.pro {
    border: 1px solid #161A34;
    background: #161A34;
    color: #F6FDFF;
}

.main-card-container-price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main-card-container-price.pro .cash {
    color: #F6FDFF;
}

.main-card-container-price.pro .monse {
    color: #F6FDFF;
}

.main-card-container-price .cash{
    color: #0E0F15;
    font-size: 64px;
    font-weight: 500;
}

.main-card-container-price .monse {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.main-card-price-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 16px;
    margin-bottom: 125px;
}

.main-card-price-list.pro>li>p {
    color: #F6FDFF;
}

.main-card-price-list>li {
    display: flex;
    justify-content: start;
    gap: 16px;
}

.main-card-price-list>li>p {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
}

.Vector {
    padding: 5px;
    width: 14px;
    height: 14px;
    background-color: #425DF8;
    border-radius: 40px;
}

.link-button {
    padding: 18px 22px;
    background: #425DF8;
    color: #F6FDFF;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    width: 160px;
    border-radius: 8px;
    border: 1px solid #425DF8;  
    text-decoration: none;
    
}

.footer {
    border-top: 1px solid #000;
}

.footer-container {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 16px;
}

.footer>span {
    color: #7F828A;
    font-size: 18px;;
    font-weight: 400;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-logo>span {
    color: #7F828A;
    font-size: 16px;
    font-weight: 400;
}

.footer-logo-img {
    width: 24px;
}
